<template>
  <div class="<% data.name %>">
    这是一个组件模板
    {{ msg }}
  </div>
</template>

<script>
 export default {
   name: '<% data.name %>',
   props: {
     msg: {
       type: string,
       default: 'hello world'
     }
   }
 }
</script>